<h1>Posted Jobs</h1>

@foreach(var job in Model)
{
    <h2>Job Title: @job.GetTitle()</h2>
    <h4>Job Description: @job.GetDescription()</h4>
    <h3>Poster Contact Info:</h3>
    <ul>
        <li>Contact Name: @job.GetContact().GetName()</li>
        <li>Contact Email: @job.GetContact().GetEmail()</li>
        <li>Contact Phone: @job.GetContact().GetPhone()</li>
    </ul>
    <div class="separator"></div>
}
<h3><a href="/">Click here to add another job opening</a></h3>

<style>
.separator {
    border-bottom: 1px solid gray;
    width: 50vw;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: darkblue;
    text-decoration: underline;
}
</style>
